form {
	width: 400px;
	margin: 0 auto;
}
legend {
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px;
	background: #BBB09B;
	margin-left: 5px;
	color: #FFF;
}
label {
	display: block;
	font-weight: normal;
	text-align: right;
	width: 120px;
	padding: 3px;
}
input.text, textarea {
	width: 200px
}
#send-button {
	padding: 5px 0;
	text-align: center;
}
#send-button input {
	width: 90%;
}
th {
	vertical-align: top;
}
fieldset {
	border: solid 1px #E8E6E3;
}
fieldset {
	margin: 5px 0;
}
address {
	font-weight: bold;
}
p.phone {
	text-align: center;
	border-bottom: solid 1px #8EB492;
	font-size: 16px;
	font-weight: bold;
}
#info p.note {
	font-style: italic;
	font-size: 12px;
}
p.error, p.success {
  padding: 10px 20px;
  border: solid 1px #948C81;
  text-align: center;
  color: #fff;
  margin: 5px 0;
  font-weight: normal;
}
p.error {
  background: #a33;
}
p.success {
  background: #3a3;
}