fieldset {
  border: solid 1px #666;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-bottom: 10px;
}
legend {
  border: solid 1px #666;
  margin: 10px;
  padding: 3px 20px;
  background: #666;
  color: #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius: 11px;
}
label {
  line-height: 1.7;
  float: left;
  text-align: right;
  width: 100px;
  font-weight: normal;
  margin-right: 5px;
  margin-bottom: 2px;
  color: #666;
}
input, textarea {
  width: 320px;
  border: none;
  background: #ccc;
  padding: 4px;
  margin: 2px;
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input, textarea, button {
  font: normal 12px sans-serif;
}
textarea {
  height: 90px;
}
.formrow {
  clear: both;
  overflow: hidden;
}
button {
  float: right;
  border: solid 1px #666;
  background: #ccc;
  color: #666;
  padding: 3px 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
button:hover {
  background: #666;
  color: #fff;
}
div.send {
  overflow: hidden;
}
#contact-form {
  width: 460px;
  float: left;
}
