body {
  font: normal 12px "Lucida Grande", "Trebuchet MS", sans-serif;
  background: #eee;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  background: #fff;
}

#header {
  font-size: 24px;
  font-weight: bold;
  background: #666;
  color: #ccc;
  text-transform: uppercase;
  padding: 30px 20px;
}
#nav {
  background: #999;
  overflow: hidden;
  padding: 5px 10px;
}
  #nav a {
    float: left;
    padding: 5px 20px;
    margin: 0 10px;
    background: #eee;
    color: #666;
    text-decoration: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  #nav a:hover {
    background: #ccc;
    color: #666;
  }
  
#primary {
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
  border-top: solid 5px #666;
  border-bottom: solid 5px #666;
}
  #primary h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 2px 0;
    border-bottom: solid 1px #666;
  }
  #primary h2,
  #primary h3,
  #primary h4,
  #primary h5,
  #primary h6 {
    margin-bottom: 10px;
  }
  #primary p {
    margin: 10px 0;
  }
  #primary ul,
  #primary ol {
    margin: 0 0 10px 20px;
  }
  #primary ul li {
    list-style: disc;
  }
  #primary ol li {
    list-style: decimal;
  }
  #primary blockquote {
    padding-left: 15px;
    border-left: 3px solid #ccc;
    color: #777;
  }
  #primary pre {
    color: #777;
    font-size: 11px;
    line-height: 1.4em;
    background-color: #191919;
    margin: 18px 0 18px 0;
    padding: 10px;
    overflow: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  #primary p code {
    padding: 0 2px;
    background: #ccc;
  }

#footer {
  text-align: center;
  font-size: 10px;
  clear: both;
  background: #999;
  color: #fff;
  padding: 5px 10px;
}