/* ================== IE.css ==================== *\
|*        Rules here apply to all versions        *|
|*        of Internet Explorer for Windows        *|
|*        prior to and including version 6        *|
\* ============================================== */

/* Setting position:relative on anything containing 
   floated elements, as well as floated elements 
   themselves helps floated elements behave. */
#wrapper, #nav, #primary {
	position: relative;
}
/* Setting height:1% makes elements
  stretch vertically to enclose floated elements. */
#main, #primary {
  height: 1%;
}
/* Setting display:inline helps fix margins of 
   floated elements */
#secondary {
  display: inline;
}

/* For the nav */
#nav li {
  float: left;
}
#nav li, #nav a {
  display: inline;
}
#nav {
  height: 1%;
}

/* For the contact form */
.formrow, div.send {
  height: 1%;
}
#contact-form, #contact-info, label, texarea, input, button, #flash-notice img {
  display: inline;
  position: relative;
}
